---
type Props = {
  name: string;
};

import { readFile } from "node:fs/promises";
import { Editor } from "./Editor";
import Link from "./Link.astro";

const { name } = Astro.props;

const title = name
  .split("-")
  .map((s) => s.charAt(0).toUpperCase() + s.slice(1))
  .join(" ");

const fileText = await readFile(`${process.cwd()}/problems/${name}.ts`);

const leetCodeUrl = `https://leetcode.com/problems/${name}`;

const dtsFileText = (
  await readFile(
    `${process.cwd()}/node_modules/flat-type-samurai/dist/index.d.ts`,
  )
).toString();
---

<div>
  <div class="mb-2 flex justify-between">
    <h2 class="text-2xl font-bold">{title}</h2>
    <Link href={leetCodeUrl} external>Original Problem</Link>
  </div>
  <Editor
    client:only="react"
    startValue={fileText.toString()}
    dtsFile={dtsFileText}
  />
</div>
