---
type Props = {
  name: string;
};

import { readFile } from "node:fs/promises";
import { Editor } from "./Editor";
import Link from "./Link.astro";

const { name } = Astro.props;

let title = name
  .split("-")
  .map((s) => s.charAt(0).toUpperCase() + s.slice(1))
  .join(" ");

try {
  const req = await fetch("https://leetcode.com/graphql/", {
    method: "POST",
    body: JSON.stringify({
      query: `\n    query questionTitle($titleSlug: String!) {\n  question(titleSlug: $titleSlug) {\n    questionId\n    questionFrontendId\n    title\n    titleSlug\n    isPaidOnly\n    difficulty\n    likes\n    dislikes\n    categoryTitle\n  }\n}\n`,
      variables: {
        titleSlug: name,
      },
      operationName: "questionTitle",
    }),
    headers: {
      "Content-Type": "application/json",
    },
  });

  const json = await req.json();
  title = json.data.question.title;
} catch (e) {
  console.log("error fetching title", e);
}

const fileText = await readFile(`${process.cwd()}/problems/${name}.ts`);

const leetCodeUrl = `https://leetcode.com/problems/${name}`;

const dtsFileText = (
  await readFile(
    `${process.cwd()}/node_modules/flat-type-samurai/dist/index.d.ts`,
  )
).toString();
---

<div>
  <div class="mb-2 flex justify-between">
    <h2 class="text-2xl font-bold">{title}</h2>
    <Link href={leetCodeUrl} external>Original Problem</Link>
  </div>
  <Editor
    client:only="react"
    startValue={fileText.toString()}
    dtsFile={dtsFileText}
  />
</div>
